#has-submenu:hover #submenu {
  display: block;
}

#has-submenu {
  position: relative;
}

.btn-delete {
  background-color: red;
  color: white;
  padding: 0px 20px 0px 20px;
  border-radius: 8px;
  margin: 0px 8px 0px 8px;
  float: left;
}

span {
  float: right;
}

#task .li-container ul li span {
  padding: 2px 8px 2px 0px;
  border-radius: 8px;
}

#task .li-container ul li {
  display: flex;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 8px;
  border: solid 1px #ccc;
  box-shadow: #ccc;
  width: max-content;
}